<a href="https://colab.research.google.com/github/lucasg1005/Python_class/blob/master/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
idade1 = 39
idade2= 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

In [3]:
idades = [39, 30, 27, 18]
type(idades)

list

len(idades)

In [6]:
idades.append(15)
print(idades)

[39, 30, 27, 18, 15]

In [0]:
for idade in idades:
  print(idade)

In [16]:
idades = [39, 18, 15, 27]
idades

[39, 18, 15, 27]

In [18]:
idades.insert(0, 20)
idades

[20, 39, 18, 15, 27]

In [19]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [20]:
idades.append([27, 19])
idades

[20, 39, 18, [27, 19]]

In [21]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [23]:
for idade in idades:
  print(idade + 1)

21
40
19
28
20

In [25]:
idadesNoAnoQueVem = []
for idade in idades:
  idadesNoAnoQueVem.append(idade + 1)
idadesNoAnoQueVem

[21, 40, 19, 28, 20]

In [29]:
[(idade+1) for idade in idades]

[21, 40, 19, 28, 20]

In [30]:
idadesNoAnoQueVem = [(idade+1) for idade in idades]
idadesNoAnoQueVem

[21, 40, 19, 28, 20]

In [31]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [36]:
def proximo_ano(idade):
  return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[30, 57, 44]

In [0]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [38]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43, 13]

In [0]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [46]:
faz_processamento_de_visualizacao()

0
[]

#Objetos própios

In [0]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo, self.saldo)

In [58]:
conta1 = ContaCorrente(15)
print(conta1)

[>>Codigo 15 Saldo 0<<]

In [59]:
conta1.deposita(500)
print(conta1)

[>>Codigo 15 Saldo 500<<]

In [60]:
conta2 = ContaCorrente(47685)
conta2.deposita(1000)
print(conta2)

[>>Codigo 47685 Saldo 1000<<]

In [61]:
 contas = [conta1, conta2]
 for conta in contas:
   print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 47685 Saldo 1000<<]

In [0]:
contas2 = [conta1, conta2, conta1]

In [64]:
print(contas2)

[<__main__.ContaCorrente object at 0x7f44b0ee4c18>, <__main__.ContaCorrente object at 0x7f44b0ee4748>, <__main__.ContaCorrente object at 0x7f44b0ee4c18>]

In [65]:
def deposita_para_contas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [conta1, conta2]
print(contas[0], contas[1])
deposita_para_contas(contas)
print(contas [0], contas[1])

[>>Codigo 15 Saldo 500<<] [>>Codigo 47685 Saldo 1000<<]
[>>Codigo 15 Saldo 600<<] [>>Codigo 47685 Saldo 1100<<]

In [66]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 600<<] [>>Codigo 47685 Saldo 1100<<]

In [67]:
deposita_para_contas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

In [70]:
lucas = ('Lucas', 26, 1993)  #tupla
dani = ('Dani', 24, 1995)

print(lucas, dani)

('Lucas', 26, 1993) ('Dani', 24, 1995)

In [71]:
usuarios = [lucas, dani]
usuarios

[('Lucas', 26, 1993), ('Dani', 24, 1995)]

In [73]:
usuarios.append(('Paulo', 39, 1979))
usuarios

[('Lucas', 26, 1993), ('Dani', 24, 1995), ('Paulo', 39, 1979)]

In [75]:
usuarios[0]

('Lucas', 26, 1993)

In [0]:
conta1 = ContaCorrente(15)
conta1.deposita(500)
conta2 = ContaCorrente(1213)
conta2.deposita(1000)

contas = (conta1, conta2)

In [80]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 500<<]
[>>Codigo 1213 Saldo 1000<<]

In [0]:
contas[0].deposita(300)

In [83]:
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 800<<]
[>>Codigo 1213 Saldo 1000<<]

#Herança e Polimorfismo

In [0]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [120]:
print(Conta(88))

[>>Codigo 88 Saldo 0<<]

In [0]:
class ContaCorrente(Conta):

  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [112]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998<<]

In [113]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 1007.0<<]

In [0]:
conta = [conta16, conta17]

In [115]:
for conta in contas:
  conta.passa_o_mes() #duck typing
  print(conta)

[>>Codigo 16 Saldo 994<<]
[>>Codigo 17 Saldo 1021.2107000000001<<]

#evitaremos usar array puro. Se precisarmos de trabalho numérico, o costume é usar numpy

In [116]:
import array as arr

arr.array('d',[1, 3.5])

array('d', [1.0, 3.5])

In [117]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.2)

In [118]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [119]:
numeros + 3

array([4. , 6.5])

In [0]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
 
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [131]:
conta10 = ContaSalario(37)
conta11 = ContaSalario(37)

conta10 == conta11

True

In [0]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
 
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

class ContaMultiploSalario(ContaSalario):
  pass

In [138]:
conta10 = ContaSalario(37)
conta11 = ContaMultiploSalario(37)
conta10 == conta11

True

In [139]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [140]:
isinstance(ContaCorrente(34), Conta)

False

In [149]:
idades = [15, 87, 65, 32, 56, 32, 49, 37]

for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 65
3 32
4 56
5 32
6 49
7 37

In [150]:
enumerate(idades) #lazy

In [153]:
range(len(idades))   #lazy

range(0, 8)

In [152]:
list(enumerate(idades)) #forcei a geração dos valores

[(0, 15), (1, 87), (2, 65), (3, 32), (4, 56), (5, 32), (6, 49), (7, 37)]

In [155]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [157]:
for indice, idade in enumerate(idades):
  print(indice, "x", idade)

0 x 15
1 x 87
2 x 65
3 x 32
4 x 56
5 x 32
6 x 49
7 x 37

In [158]:
usuarios = [('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

for nome, idade, nascimento in usuarios: #ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [160]:
for nome, _, _ in usuarios: #ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

In [161]:
idades

[15, 87, 65, 32, 56, 32, 49, 37]

In [162]:
sorted(idades)   #ordem crescente

[15, 32, 32, 37, 49, 56, 65, 87]

In [164]:
list(reversed(idades))

[37, 49, 32, 56, 32, 65, 87, 15]

In [165]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [166]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [0]:
nomes = ["guilherme", "Daniela", "Paulo"]

In [172]:
sorted(nomes)

['Daniela', 'Paulo', 'guilherme']

In [0]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
 
  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [0]:
conta_guilherme = ContaSalario(17)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(1000)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(510)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [194]:
for conta in contas:
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [195]:
sorted(contas)

[<__main__.ContaSalario at 0x7f44b0a144a8>,
 <__main__.ContaSalario at 0x7f44b0a14588>,
 <__main__.ContaSalario at 0x7f44b0a14550>]

In [196]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [197]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [198]:
conta_guilherme < conta_daniela

True

In [200]:
for conta in sorted(contas , reverse = True):
  print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 17 Saldo 500<<]

In [0]:
conta_guilherme = ContaSalario(1700)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(500)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(500)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [204]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]

In [0]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
 
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [206]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]

In [0]:
conta_guilherme = ContaSalario(1700)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(1000)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(500)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [210]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 133 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [0]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
 
  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo

    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [0]:
conta_guilherme = ContaSalario(1700)
conta_guilherme.deposita(500)

conta_daniela = ContaSalario(3)
conta_daniela.deposita(1000)

conta_paulo = ContaSalario(133)
conta_paulo.deposita(500)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [216]:
conta_guilherme <= conta_daniela

True